<h1 class="text-primary">{ Posts }</h1>

<table class="table">
  <tr>
    <th>Titulo</th>
    <th>Fecha de ingreso</>
    <th>Contenido</th>
    <th>Imagen</th>
  </tr>   

<% @posts.each do |post|%>

<tr>
    <td><%=post.title%></td>
    <td><%=post.created_at.strftime("%F")%></td>
    <td><%=post.image_url%></td>
    <td><%=post.content%></td>
</tr>

<%end%>
</table>

