
<nav class="navbar navbar-expand-lg navbar-light bg-warning ">
   <%= link_to 'Sumbarino Amarillo', posts_index_path %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Inicio', posts_index_path %>
      </li>
      <li class="nav-item">
        <%= link_to 'Dashboard', posts_dashboard_path %>
      </li>
    </ul>
  </div>
</nav>